.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.PrivateTabIndicator-colorSecondary-3{
  background-color:black !important
}
html, body {margin: 0; height: 100%; overflow: hidden}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ReactTags__tag {
  font-size: 18px;
  color: white;
  background-color: #282c34;
  border-radius: 10px;
  padding: 4px 8px;
  margin-left: 6px;
  margin-bottom: 6px;
  display: inline-flex;
  align-items: center;
  font-size: 13px;
}


.ReactTags__remove {
  background-color: lightgray;
  border-style: none;
  padding: 0px 4px;
  border-radius: 8px;
  margin-left: 6px;
  color: white;
  border-width: 0px;
}
.ReactTags__tagInputField{
  border: none;
  width: 300px;
  font-size: 11px;
  margin-left: 10px;
  outline: none;
}
