
.ReactTags__tag {
  font-size: 18px;
  color: white;
  background-color: #282c34;
  border-radius: 10px;
  padding: 4px 8px;
  margin-left: 6px;
  margin-bottom: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  height: 2em;
}


.ReactTags__remove {
  background-color: lightgray;
  border-style: none;
  padding: 0px 4px;
  border-radius: 8px;
  margin-left: 6px;
  color: white;
  border-width: 0px;
  height: 16px;
  width: 16px;
  margin-bottom: 10px;

}
.ReactTags__tagInputField{
  border: none;
  width: 300px;
  font-size: 11px;
  margin-left: 10px;
  outline: none;
  
}
* > div {
   color: #343A40;
}
textarea:disabled {
    color: #343A40;
    font-weight:bold;
    
}
