body {
  margin: 0;
  font-family: -apple-system, 'AppleSDGothicNeo','Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 100;
  src: url("style/font/AppleSDGothicNeoL00.ttf") format('ttf'),
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: normal;
  src: url("style/font/AppleSDGothicNeoR00.ttf") format('ttf'),
}


@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 500;
  src: url("style/font/AppleSDGothicNeoM00.ttf") format('ttf'),
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: bold;
  src: url("style/font/AppleSDGothicNeoB00.ttf") format('ttf'),
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
